body {
  font-family: 'Permanent Marker', cursive;
  -webkit-font-smoothing: antialiased;
  background-color: #eff3f0;
  scroll-behavior: smooth;
}

.insta-section {
  position: relative;
  margin: 0 80px;
}

.insta-section-h1 {
  position: fixed;
  z-index: -1;
  top: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 72px;
    width: 47%;
    line-height: 72px;
    text-align: center;
    color: #225732;
  }
}

.insta-feed {
  position: relative;
}

.post {
  position: absolute;
  width: 33%;
  img {
    max-width: 100%;
  }
}

.post1 {
  top: 60px;
}
.post2 {
  right: 6%;
  top: 50vh;
}
.post3 {
  top: 110vh;
  left: 6%;
}
.post4 {
  top: 200vh;
  right: 10%;
}
.post5 {
  top: 260vh;
  left: 10%;
}
