body {
  font-family: 'Permanent Marker', cursive;
  height: 3200px;
  background: linear-gradient(180deg, rgba(187,225,249,1) 0%, rgba(222,242,255,1) 100%);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  background-color: #eff3f0;
}
@import "insta-feed";


header {
  z-index: 1000;
  position: sticky;
  top: 0;
  padding: 12px 48px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#093a3f;
}

.logo {
 font-weight: bolder;
 text-decoration: underline;
}

.menu {
  flex-grow: 0.2;
  ul {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-inline-start: 0px;
    li {
      list-style-type:none;
      padding-inline-start: 0px;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      padding-bottom: 3px;
      transition: 0.2s ease;
    }
  }
}

.cta {
  padding: 6px 12px;
  border: 2px solid #093a3f;
  p {
    margin: 0px;
  }
}
